@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

table#st {
    width: 400px;
    height: 400px;
    border: 3px solid red;
    border-collapse: collapse;
}

table#st tr {
    background-color: gray;
}

table#st tr.line {
    background-color: aqua;
}

table#st tr > td {
    border: 1px solid black;
    padding: 8px;
    /*Alinhamento horizontal*/
    text-align: center;
    /*Alinhamento vertical: top bottom middle*/
    vertical-align: top;
}

table#st td.dado {
    background-color: yellow;
}

table#bt {
    width: 500px;
    position: relative;
}

table#bt thead, tfoot {
    background-color: gray;
    color: white;
}

table#bt thead > tr > th {
    position: sticky;
    top: -1px;
    background-color: gray;
}

table#bt td, th {
    border: 1px solid black;
}

table#bt tbody > tr:nth-child(odd) /*odd=impar*/ {
    background-color: lightgray;
}

table#bt tbody > tr:nth-child(even) /*even=par*/ {
    background-color: lightblue;
}